<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <parameter name="browser" value="chrome"/>
     <listeners>
        <listener class-name="Practice.listeners.TestListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="Practice.LoginTest"/>
        </classes>
    </test>

</suite>
